services:
  database:
    image: postgres:17
    container_name: directus-db
    volumes:
      - ./database:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'directus'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: 'directus'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U directus" ]
      interval: 5s
      timeout: 5s
      retries: 20
    restart: always

  cache:
    image: redis:latest
    container_name: directus-cache
    restart: always

  directus:
    image: directus/directus:latest
    container_name: directus-app
    ports:
      - '8055:8055'
    volumes:
      - directus-volume:/directus/uploads
      - ./extensions:/directus/extensions
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_started
    environment:
      KEY: '${KEY}'
      SECRET: '${SECRET}'

      DB_CLIENT: 'pg'
      DB_HOST: 'database'
      DB_PORT: '5432'
      DB_DATABASE: 'directus'
      DB_USER: 'directus'
      DB_PASSWORD: '${DB_PASSWORD}'

      CACHE_ENABLED: 'false'
      CACHE_STORE: 'redis'
      REDIS: 'redis://cache:6379'

      ADMIN_EMAIL: '${ADMIN_EMAIL}'
      ADMIN_PASSWORD: '${ADMIN_PASSWORD}'

      CORS_ENABLED: 'true'
      CORS_ORIGIN: 'true'
      CORS_ALLOWED_HEADERS: 'Content-Type,Authorization,Cache-Control,Pragma,Expires'

      STORAGE_LOCATIONS: 'local'
      STORAGE_LOCAL_DRIVER: 'local'
      STORAGE_LOCAL_ROOT: '/directus/uploads'
    restart: always

volumes:
  directus-volume:
    external: true
